#preloader{
    background-image: url(Images/preloader/preloader.png);
    position: fixed;
    background-position: top center !important;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
